.display-picture{
    position: absolute;
    width: 8px;
    height: 8px;
    right: -2px;
    bottom: -2px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 50%;
}